[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
[user]
	name = Benjamin Petit
	email = benjamin.petit@tide.co
[push]
	default = simple
[alias]
    st = status
    co = checkout
[branch]
	autosetuprebase = always
[merge]
	tool = vimdiff
    # Be able to abort all diffs with `:cq` or `:cquit`
    trustExitCode = true
[difftool]
	prompt = false
[mergetool]
	prompt = false
[diff]
	tool = vimdiff
    # Be able to abort all diffs with `:cq` or `:cquit`
    trustExitCode = true
[credential]
	helper = osxkeychain
[credential "https://bitbucket.org"]
    username = benjaminpetit
